/* 
   1) img element should respond responsively resize,
      relative to the width of its parent element,
      without exceeding its original size
   2) img element should be centered within its parent element
*/


img {
    width: 50%;
    max-height: 50%;
    max-width: 50%;
    margin: auto;
    display: block;
    border: 1px none black;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 4px 10px;
}

ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

.photo-desc {
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-style: italic;
    font-display: swap; 
}

body {
    /* background-color: #283646; dark blue navy quote color */
    /* background-color: #0a0b0d; Like this one? */
}

/* id rules */

#tribute-info {
    /* font-family: sans-serif; */
    font-family: 'Montserrat', sans-serif;
}